:host {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    height: auto;
    transition: height 100ms ease-out;

    .message-container {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding: 6px 8px 6px 6px;
        word-break: break-word;
        box-sizing: border-box;
        overflow: hidden;
        transition: opacity 100ms ease-out, height 100ms ease-out, min-height 100ms ease-out;

        &.selected {
            min-height: 50px;
        }

        padding: 6px 8px;
    }

    .message-quote-container {
        margin-bottom: 4px;
        overflow: hidden;
    }

    textarea {
        font-family: inherit;
        font-size: inherit;
        max-width: calc(100%);
        min-width: 100%;
        min-height: 18px;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        box-sizing: content-box;
    }

    .complex-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        img {
            height: 72px;
        }

        .text {
            width: 100%;
        }
    }

    .message-substrate {
        position: absolute;
        z-index: 0;
        display: block;
        overflow: hidden;
    }

    &.edited {
        width: 100%;
        min-height: 20px;
    }
}