@let d = data();
@let c = config();
@let b = actualBounds();
@let mTime = time();
@let searchedWords = searchPattern();
@let class = classes();
@let type = substrateType();
@let stroke = strokeColor();
@let gradientFillPositions = fillPositions();
@let tType = themeType();
@if (d && c) {
<div #wrapper class="wrapper">
    <div #substrateContainer>
        <x-message-substrate #substrate class="message-substrate" [type]="type" [width]="b.width" [height]="b.height"
            [strokeColors]="stroke" [strokeWidth]="strokeWidth()" [fillColors]="fillColors()"
            [fillPositions]="gradientFillPositions" [rippleColor]="rippleColor()"></x-message-substrate>
    </div>
    <div #container class="message-container" [ngClass]="class" (pointerdown)="substrate.ripple($event)">
        @if (d?.['image']) {
        <div class="complex-message">
            <img [src]="d?.['image']" />
            <x-text class="text" [themeType]="tType" [text]="d.data.text" [time]="mTime"
                [searchPattern]="searchedWords" [selectable]="c.selected" [classes]="class"
                substringClass="search-substring" presetName="message" />
        </div>
        } @else {
        <x-text class="text" [themeType]="tType" [text]="d.data.text" [time]="mTime"
            [searchPattern]="searchedWords" [selectable]="c.selected" [classes]="class"
            substringClass="search-substring" presetName="message" />
        }
    </div>
</div>
}